<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=T4DDBmonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<!-- Screen Freeze -->
		<add key="freezeScreen" value="Yes" />	<!-- Yes / No -->

		<!-- Software -->
		<add key="Software" value="Trimble" />	<!-- Trimble / GeoMoS -->

		<!-- Project settings -->
		<add key="ProjectTitle" value="Lawley Viaduct" />
		<add key="ContractTitle" value="test data" />
		<add key="ReportType" value="projectPerformance" />
		<add key="CoordinateOrder" value="ENH" />
		
		<add key="checkWorksheetsExist" value="No" />

		<!-- Excel workbook settings -->
		<add key="ExcelPath" value="C:\_SystemPerformance\" />
		<add key="ExcelFile" value="Lawley_SystemPerformance_Master.xlsx" />

		<add key="ReferenceWorksheet" value="Reference" />
		<add key="SurveyWorksheet" value="Survey" />
		<add key="HourlyPerformanceWorksheet" value="ATShourly" />
		<add key="DailyPerformanceWorksheet" value="ATSDaily" />
		
		<add key="FirstDataRow" value="2" /><!-- First row of data in the Reference worksheet -->
		<add key="FirstDataCol" value="6" /><!-- Column which will contain the dE in the Reference worksheet -->
		<add key="FirstOutputRow" value="7" /><!-- First row of data in the alignment worksheets = same row in the Track worksheets worksheet -->


		<!-- ATS refernce-->
		<add key="ATS1" value="ATS01" />
		<add key="ATS2" value="ATS02" />
		<add key="ATS3" value="ATS03" />
		<add key="ATS4" value="ATS04" />
		<add key="ATS5" value="blank" />
		<add key="ATS6" value="blank" />
		<add key="ATS7" value="blank" />
		<add key="ATS8" value="blank" />
		<add key="ATS9" value="blank" />
		<add key="ATS10" value="blank" />
		
		<!-- Timeblock settings, TimeStart is earlier than TimeEnd, TimeEnd is closer to TimeNow -->
		<add key="TimeBlockType" value="Manual" /><!-- Manual, Schedule-->

		<add key="manualBlockStart" value="'2023-08-18 00:00'" />
		<add key="manualBlockEnd" value="'2023-08-20 23:59'" />


		<add key="TimeOffsetHrs" value="0" /><!-- (scheduler) BlockEndTime = TimeNow - TimeOffset;BlockStartTime = BlockEndTime - BlockSize  -->
		<add key="BlockSizeHrs" value="6" /><!-- must be a factor of 24  -->

		<!-- Email settings -->
		<add key="SendEmails" value="No" />

		<add key="AddAttachment" value="No" />
		<add key="EmailFrom2" value="gna.geomatics@gmail.com"/>
		<add key="EmailLogin2" value="t4direland2@gmail.com"/>
		<add key="EmailPassword2" value="T4DIreland2020"/>

		<add key="EmailFrom" value="T4DSMLGroup@gmail.com" />
		<add key="EmailLogin" value="T4DSMLGroup@gmail.com" />
		<add key="EmailPassword" value="MonitoringT4D" />
		<add key="EmailRecipients" value="gna.geomatics@gmail.com" />
		<add key="EmailRecipients2" value=" gna.geomatics@gmail.com" />

		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />


	</appSettings>
	
	
	
	
</configuration>